# Week-1 Assignment


## ***Bonus Questions***
## Here are some bonus questions that you can try further !

### These questions are UNGRADED, and are given as an extra exercise.

In [ ]:
# pre-requisites
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from io import BytesIO
data = pd.read_csv(r"C:\Users\nikhi\Downloads\W1_Pokemon.csv")
data = data.drop(columns="#")
data.set_index("Name")
data["New_Column"] = data["Type 1"] + " + " + data["Type 2"]
data[(data["Type 1"] == "Psychic") & (data["Type 2"] == "Flying")].shape[0]

### Which pokemon has the highest combined value of Attack and Sp. Atk ?

In [ ]:
#your code here
data["a"] = data["Attack"] + data["Sp. Atk"]
ans = data[data["a"] == data["a"].max()][["Name"]]
data = data.drop(columns=["a"])
print(ans)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,New_Column
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,Grass + Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,Grass + Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,Grass + Poison
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,Grass + Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,Rock + Fairy
796,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,Rock + Fairy
797,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,Psychic + Ghost
798,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,Psychic + Dark
799,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,Fire + Water

### Which type of legendary pokemons are the most common?

In [ ]:
#your code here

Type with highest average HP (considering both Type 1 and Type 2):
Type
Dragon    82.9
Name: HP, dtype: float64

### How many generation-3, non-legendary pokemons have higher HP than the weakest generation-6, legendary pokemon?

In [122]:
#your code here
gen3 = data[(data["Legendary"] == False) & (data["Generation"] == 3)]
gen6 = data[(data["Legendary"] == True) & (data["Generation"] == 6)]
gen6 = gen6[gen6["Total"] == gen6["Total"].min()]
gen6_min = gen6["HP"].values[0]
gen3 = gen3[gen3["HP"]> gen6_min]
gen3.value_counts().sum()

np.int64(2)

### Print out the third slowest pokemon(s) in the dataset.

In [123]:
#your code here
a = data.sort_values(by="Speed", ascending=True)
a = a["Speed"].unique()
b = a[2]
slowest_pokemons = data[data["Speed"] == b]
print(slowest_pokemons[["Name"]])

           Name
85     Slowpoke
187      Cleffa
188   Igglybuff
209      Wooper
219      Pineco
289     Silcoon
291     Cascoon
583  Roggenrola
651     Foongus

### Which pokemon type has the highest average HP?

In [ ]:
#your code here