# Summer Analytics 2022 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [1]:
#your code here
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from
https://github.com/justmarkham/pandas-videos/blob/master/data/chipotle.tsv

#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
#your code here
Chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/pandas-videos/refs/heads/master/data/chipotle.tsv', sep='\t')
Chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### 3) See the first 10 entries

In [ ]:
#your code here
Chipo.head(10)

### 4) What is the number of observations in the dataset?

In [4]:
#your code here
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
#your code here
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [6]:
#your code here
Chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [7]:
#your code here
ans = Chipo['item_name'].value_counts()
ans.index[0]

'Chicken Bowl'

### 8) For the most-ordered item, how many items were ordered?

In [8]:
#your code here
ans = Chipo['item_name'].value_counts()
ans.iloc[0]

np.int64(726)

### 9) What was the most ordered item in the choice_description column?

In [19]:
#your code here
#Took help of AI for this question

from collections import Counter

def parse_choices(description):
    if isinstance(description, str):
        # Remove brackets and split by comma
        items = description.replace('[', '').replace(']', '').split(', ')
        return items
    else:
        return []


all = [item for sublist in Chipo['choice_description'].apply(parse_choices) for item in sublist]

# Count the frequency of each item
choice_counts = Counter(all)

# Get the most common item
most_common_choice = choice_counts.most_common(1)[0][0]

print(most_common_choice)

Rice

### 10) How many items were ordered in total?

In [24]:
#your code here
ans = Chipo['quantity'].sum()
ans

np.int64(4972)

### 11) Turn the item price into a float

In [45]:
#your code here
Chipo['item_price'].dtypes

dtype('float64')

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [47]:
#your code here
ans = Chipo['quantity'] * Chipo['item_price']
ans.sum()

np.float64(39237.02)

### 13) How many orders were made in the period?

In [31]:
#your code here
ans = Chipo.shape[0]
ans

4622

### 14) What is the average revenue amount per order?

In [14]:
#your code here

### 15) How many different items are sold?

In [30]:
#your code here
ans = Chipo['item_name'].nunique()
ans

50