# Summer Analytics 2022 - Basic Data Analysis

- ####  Welcome to your first assignment, on basic data analysis!
- #### This Assignment is ungraded



### 1) Import Pandas

In [1]:
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

Use the following dataset
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

In [3]:
ds = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')

### 3) Display the first 25 entries

In [4]:
ds.head(25)

    user_id  age gender     occupation zip_code
0         1   24      M     technician    85711
1         2   53      F          other    94043
2         3   23      M         writer    32067
3         4   24      M     technician    43537
4         5   33      F          other    15213
5         6   42      M      executive    98101
6         7   57      M  administrator    91344
7         8   36      M  administrator    05201
8         9   29      M        student    01002
9        10   53      M         lawyer    90703
10       11   39      F          other    30329
11       12   28      F          other    06405
12       13   47      M       educator    29206
13       14   45      M      scientist    55106
14       15   49      F       educator    97301
15       16   21      M  entertainment    10309
16       17   30      M     programmer    06355
17       18   35      F          other    37212
18       19   40      M      librarian    02138
19       20   42      F      homemaker    95660
20       21   26      M         writer    30068
21       22   25      M         writer    40206
22       23   30      F         artist    48197
23       24   21      F         artist    94533
24       25   39      M       engineer    55107

### 4) Display the last 10 entries

In [5]:
ds.tail(10)

     user_id  age gender     occupation zip_code
933      934   61      M       engineer    22902
934      935   42      M         doctor    66221
935      936   24      M          other    32789
936      937   48      M       educator    98072
937      938   38      F     technician    55038
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

### 5) What is the number of observations in the dataset?

In [9]:
ds.shape[0]

943

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [17]:
print(ds.shape[1])
ds.columns.tolist()

5

['user_id', 'age', 'gender', 'occupation', 'zip_code']

### 7) What is the data type of each column?

In [19]:
print(ds.dtypes)

user_id        int64
age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [22]:
print(ds['occupation'])

0         technician
1              other
2             writer
3         technician
4              other
           ...
938          student
939    administrator
940          student
941        librarian
942          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [23]:
print(ds['occupation'].unique())

['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']

### 10) What is the most frequent occupation?

In [36]:
print(ds['occupation'].mode()[0])

student

### 11) Summarize the DataFrame.

In [31]:
ds.describe()

          user_id         age
count  943.000000  943.000000
mean   472.000000   34.051962
std    272.364951   12.192740
min      1.000000    7.000000
25%    236.500000   25.000000
50%    472.000000   31.000000
75%    707.500000   43.000000
max    943.000000   73.000000

### 12) Summarize only the occupation column

In [46]:
print("Data type:", ds['occupation'].dtype)
print("Number of unique occupations:", ds['occupation'].nunique())
print("Unique occupations:", ds['occupation'].unique())
print("Most frequent occupation:", ds['occupation'].mode()[0])
print("Occupation value counts:")
print(ds['occupation'].value_counts())

Data type: object
Number of unique occupations: 21
Unique occupations: ['technician' 'other' 'writer' 'executive' 'administrator' 'student'
 'lawyer' 'educator' 'scientist' 'entertainment' 'programmer' 'librarian'
 'homemaker' 'artist' 'engineer' 'marketing' 'none' 'healthcare' 'retired'
 'salesman' 'doctor']
Most frequent occupation: student
Occupation value counts:
occupation
student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: count, dtype: int64

### 13) What is the mean age of users?

In [47]:
print(ds['age'].mean())

34.05196182396607

### 14) What is the age with least occurrence?

In [58]:
count = ds['age'].value_counts()
ages = count[count==count.min()]
print(', '.join(str(age) for age in ages.index))

7, 11, 66, 10, 73